@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";
@import "themes/orange";

.app,
.app_modal {
  font: var(--font-m);
  font-family: var(--font-family-main);
  color: var(--primary-color);
}

.app {
  background: var(--bg-color);
  min-height: 100vh;
  overflow: hidden;
}

.content-page {
  display: flex;
}
