.title {
  font-size: var(--font-l);
  color: var(--primary-color);
}

.text {
  font-size: var(--font-m);
  color: var(--secondary-color);
}

.error {
  .title {
    color: var(--red-light);
  }

  .text {
    color: var(--red-dark);
  }
}
