.Modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s opacity ease;
}

.overlay {
  width: 100%;
  height: 100%;
  background: var(--overlay-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 20px;
  border-radius: 15px;
  background-color: var(--bg-color);
  color: var(--primary-color);
  max-width: 40%;
  transition: 0.3s transform;
  transform: scale(0.5);
}

.open {
  opacity: 1;
  pointer-events: auto;

  .content {
    transform: scale(1);
  }
}
