.AppLink {
  color: var(--inverted-primary-color);

  &:hover {
    opacity: 0.8;
  }
}

.primary {
  color: var(--inverted-primary-color);
}

.secondary {
  color: var(--primary-color);
}

.red {
  color: red;
}
